/*
p {
    color: red;
}

p {
    color: blue !important;
}
*/

/* Parte B
@layer componentes, base;

@layer base {
    .mensaje { color: blue; }
}

@layer componentes {
    .mensaje { color: green; }
}
*/

/* Parte C1 
.mensaje { color: green; }

p { color: blue; }

*/

/* Parte C2 
#aviso { color: red; }

.mensaje { color: green; }

p { color: blue; }

*/

/* Parte C3 
.mensaje { color: blue; }

article .mensaje { color: green; }

main article .mensaje { color: red; }*/

/* Parte D 
@scope (.panel) {
    p { color: blue; }
}

@scope (.tarjeta) {
    p { color: red; }
}*/

/* Parte E */
.mensaje { color: red; }

.mensaje { color: green; }

.mensaje { color: blue; }