/*
p {
    color: red;
}

p {
    color: blue !important;
}
*/

/*parte B*/
@layer base, componentes;

@layer base {
    .mensaje { color: blue; }
}

@layer componentes {
    .mensaje { color: green; }
}

